/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

h1, h2, h4, p {
  margin: 0;
  padding: 0;
}

.backdrop {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-header {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .link-list,
  .contact-list {
    display: none;
  }
  .drop-menu {
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/svg/drop-menu.svg);
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
}

.logo-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-header .logo-accent {
  color: #2196F3;
}

.logo-header:visited {
  color: #212121;
}

.logo-header:visited .logo-accent {
  color: #2196F3;
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.logo-footer .logo-accent {
  color: #2196F3;
}

.logo-footer:visited {
  color: #ffffff;
}

.logo-footer:visited .logo-accent {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .text-center {
    text-align: center;
  }
}

.footer {
  padding: 60px 0;
  background: #2F303A;
}

.address-container {
  margin-top: 20px;
}

.address-item:not(:first-child) {
  margin-top: 8px;
}

.address {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-contact-link {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.welcome-footer {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.soclink-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soclink-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer-soclink-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-soclink {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscribe-label {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-input {
  margin-top: 35px;
  padding-left: 16px;
  font-weight: 300;
  font-family: Roboto;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-input::-webkit-input-placeholder {
  font-family: Roboto;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:-ms-input-placeholder {
  font-family: Roboto;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::-ms-input-placeholder {
  font-family: Roboto;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input::placeholder {
  font-family: Roboto;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: inline-block;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .address-item {
    text-align: center;
  }
  .soclink-info,
  .subscribe {
    margin-top: 60px;
  }
  .subscribe-input {
    width: 100%;
    height: 50px;
  }
}

@media screen and (min-width: 480px) {
  .subscribe-input {
    width: 450px;
    height: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-input {
    margin-top: 35px;
  }
  .subscribe-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/hero-image.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 118px 0;
  }
  .h1-hero {
    margin: auto;
    width: 360px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .button-hero {
    display: block;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    background: #2196F3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

@media screen and (max-width: 767px) {
  .features {
    padding: 60px 0;
  }
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .icon-background {
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 0;
  }
  .icon-background .icon {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
  }
  .h4-features {
    margin-top: 30px;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }
  .p-features {
    margin-top: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and (max-width: 767px) {
  .product {
    display: none;
  }
}

.team {
  padding: 60px 0;
  background-color: #F5F4FA;
}

.h2-team {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}

.card-desc {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.soclink-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soclink-bg {
  width: 44px;
  height: 44px;
  padding: 12px;
}

.soclink {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

@media screen and (max-width: 1199px) {
  .h2-team {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
  .soclink-list {
    margin-top: 16px;
  }
}

.team-card {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  width: 100%;
}

.team-card img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .team-card {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
    width: 450px img;
    width-display: block;
    width-width: 100%;
    width-height: 460px;
  }
}

.clients {
  padding: 60px 0;
}

.h2-clients {
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon-fill {
  fill: #AFB1B8;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover .client-link {
  border-color: #2196F3;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover .client-icon-fill {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.client-icon-1 {
  width: 44px;
  height: 49px;
  fill: #afb1b8;
}

.client-icon-2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
}

.client-icon-3 {
  width: 40px;
  height: 42px;
  fill: #afb1b8;
}

.client-icon-4 {
  width: 79px;
  height: 42px;
  fill: #afb1b8;
}

.client-icon-5 {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
}

.client-icon-6 {
  width: 88px;
  height: 45px;
  fill: #afb1b8;
}

@media screen and (max-width: 1199px) {
  .h2-clients {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
  }
}

@media screen and (max-width: 767px) {
  .clients-item {
    margin-bottom: 30px;
    width: calc((100% - 15px*2) / 2);
  }
  .client-link {
    height: 90px;
    width: 100%;
  }
  .clients-item:nth-child(2n+1) {
    margin-right: 15px;
  }
  .clients-item:nth-child(2n) {
    margin-left: 15px;
  }
  .clients-item:nth-child(5) {
    margin-bottom: 0;
  }
  .clients-item:nth-child(6) {
    margin-bottom: 0;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */