/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

a {
  color: #212121;
  text-decoration: none;
}

a:visited {
  color: #212121;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: #212121;
}

p {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
h4,
ul,
button,
span {
  margin: 0;
  padding: 0;
}

.link-nav, .link-nav.nav-contacts, .contacts-icon-mail, .contacts-icon-phone, .soclink, .soclink-bg, .client-link, .client-icon1, .client-icon2, .client-icon3, .client-icon4, .client-icon5, .client-icon6, .footer-soclink-bg, .backdrop, .modal, .is-hidden, .btn-portfolio, .card-style-portfolio, .animation-overlay {
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.logo-container {
  display: inline-block;
}

.logo-container .font-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-container .color-logo {
  color: #2196f3;
}

.logo-container-footer {
  margin-bottom: 20px;
}

.logo-container-footer .font-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-container-footer .color-logo {
  color: #2196f3;
}

.logo-container-footer .color-logo-footer {
  color: #ffffff;
}

.link-nav {
  display: inline-block;
  height: 80px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.link-nav:hover, .link-nav:focus {
  color: #2196f3;
}

.link-nav.nav-contacts {
  margin: auto;
  color: #757575;
}

.link-nav.nav-contacts:hover, .link-nav.nav-contacts:focus {
  color: #2196f3;
}

.header {
  height: 80px;
}

.nav-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul-container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-left: 93px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-container li:not(:first-child) {
  margin-left: 50px;
}

.ul-contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 305px;
  height: 80px;
}

.ul-contacts-container li:not(:first-child) {
  margin-left: 30px;
}

.contacts-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-flex:hover .contacts-icon-mail {
  fill: #2196f3;
}

.contacts-flex:hover .nav-contacts {
  color: #2196f3;
}

.contacts-flex:hover .contacts-icon-phone {
  fill: #2196f3;
}

.contacts-icon-mail {
  width: 16px;
  height: 16px;
  margin: auto;
  fill: #757575;
  margin-right: 10px;
}

.contacts-icon-phone {
  width: 10px;
  height: 16px;
  margin: auto;
  fill: #757575;
  margin-right: 10px;
}

.link-nav.underline::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 28px;
}

.link-nav.link-studio {
  color: #2196f3;
}

.link-nav.link-portfolio {
  color: #2196f3;
}

.h1-hero {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../IMG/hero/Img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../IMG/hero/Img.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  margin: auto;
  padding: 200px 0px 200px 0px;
}

.h1-hero {
  width: 670px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.btn-hero {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 0px;
  margin: auto;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: hidden;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}

.h4-features {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.p-features {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.features {
  margin: auto;
  padding: 94px 0px 94px 0px;
}

.ul-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul-features li:not(:first-child) {
  margin-left: 30px;
}

.ul-features > li > h4 {
  margin-bottom: 10px;
}

.bg-features {
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.icon-features {
  width: 70px;
  height: 70px;
}

.product {
  margin: auto;
  padding-bottom: 94px;
}

.h2-product {
  text-align: center;
  margin-bottom: 50px;
}

.ul-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul-product li:not(:first-child) {
  margin-left: 30px;
}

.product-position {
  position: relative;
  width: 370px;
  height: 294px;
}

.product-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.ul-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul-team > li:not(:first-child) {
  margin-left: 30px;
}

.card-style {
  width: 270px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-desc {
  text-align: center;
  margin-bottom: 16px;
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}

.card-desc {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
  background: #f5f4fa;
}

.h2-team {
  text-align: center;
  margin-bottom: 50px;
}

.card-soclinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 32px 30px 32px;
}

.card-soclinks li:not(:last-child) {
  margin-right: 10px;
}

.soclink {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.soclink-style-hover:hover .soclink-bg {
  background-color: #2196f3;
}

.soclink-style-hover:hover .soclink {
  fill: #ffffff;
}

.soclink-bg {
  display: inline-block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.h2-clients {
  text-align: center;
  margin-bottom: 50px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.ul-clients-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ul-clients-flex li:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: inline-block;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients-style-hover:hover .client-link {
  border-color: #2196f3;
}

.clients-style-hover:hover .client-icon1 {
  fill: #2196f3;
}

.clients-style-hover:hover .client-icon2 {
  fill: #2196f3;
}

.clients-style-hover:hover .client-icon3 {
  fill: #2196f3;
}

.clients-style-hover:hover .client-icon4 {
  fill: #2196f3;
}

.clients-style-hover:hover .client-icon5 {
  fill: #2196f3;
}

.clients-style-hover:hover .client-icon6 {
  fill: #2196f3;
}

.client-icon1 {
  margin: 20px 63px;
  width: 43px;
  height: 49px;
  fill: #afb1b8;
}

.client-icon2 {
  margin: 19px 65px;
  width: 40px;
  height: 52px;
  fill: #afb1b8;
}

.client-icon3 {
  margin: 24px 65px;
  width: 40px;
  height: 42px;
  fill: #afb1b8;
}

.client-icon4 {
  margin: 24px 45px;
  width: 79px;
  height: 42px;
  fill: #afb1b8;
}

.client-icon5 {
  margin: 22px 55px;
  width: 59px;
  height: 47px;
  fill: #afb1b8;
}

.client-icon6 {
  margin: 22px 41px;
  width: 88px;
  height: 45px;
  fill: #afb1b8;
}

.link-footer.footer-contacts {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-footer {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background: #2f303a;
  margin: auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address-footer {
  line-height: 24px;
  margin-bottom: 9px;
}

.link-footer {
  line-height: 24px;
}

.link-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soclinks-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
  margin-top: 12px;
}

.welcome-footer {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-soclinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer-soclinks li:not(:last-child) {
  margin-right: 10px;
}

.footer-soclink-bg {
  display: inline-block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-soclink-bg:hover, .footer-soclink-bg:focus {
  background-color: #2196f3;
}

.footer-soclink {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscribe {
  margin-left: 93px;
  margin-top: 12px;
  margin-bottom: 34px;
  width: 570px;
}

.subscribe-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-input {
  display: inline-block;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  display: inline-block;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: hidden;
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  margin-left: 12px;
}

.icon-send {
  display: inline-block;
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  float: right;
  margin: 8px;
  padding: 5px;
}

.icon-close {
  width: 18px;
  height: 18px;
  vertical-align: auto;
}

.icon-close:hover, .icon-close:focus {
  fill: #2196f3;
}

.form-cont {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.form-title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  line-height: 23px;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 14px;
  color: #757575;
}

.form-input:focus + .icon-form {
  fill: #2196f3;
}

.form-input {
  margin-bottom: 10px;
  padding: 12px 0 12px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-textarea {
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
}

.form-textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Vanilla Checkbox */
.a-checkbox {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.a-checkbox:visited {
  color: #2196f3;
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 12px;
  margin-right: 6px;
  background-image: url("../IMG/svg/icon-checkbox.svg");
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox:checked + .icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../IMG/svg/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

/* Btn Submit */
.btn-submit {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 200px;
  background: #2196f3;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: hidden;
  font-weight: 700;
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.icon-field {
  position: relative;
}

.icon-form {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.portfolio {
  border-top: 1px solid #eeeeee;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtres {
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.filtres > button:not(:first-child) {
  margin-left: 8px;
}

.btn-portfolio-text {
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-portfolio {
  color: #212121;
  background: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  border-style: hidden;
}

.btn-portfolio:hover, .btn-portfolio:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-name-portfolio {
  margin-bottom: 4px;
  padding: 0 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-desc-portfolio {
  margin-bottom: 20px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects {
  margin: auto;
}

.img-contain {
  width: 370px;
}

.card-border {
  padding-top: 20px;
  width: 370px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card-style-portfolio {
  width: 370px;
}

.card-style-portfolio:hover, .card-style-portfolio:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-style-portfolio:not(.last-3) {
  margin-bottom: 30px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap > li:not(:nth-of-type(3n - 5)) {
  margin-left: 30px;
}

/* Overlay*/
.text-overlay {
  position: relative;
  width: 370px;
  height: 294px;
}

.animation-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  pointer-events: none;
}

.card-style-portfolio:hover .animation-overlay {
  top: 0;
  left: 0;
  opacity: 0.9;
}
/*# sourceMappingURL=main.css.map */