// Mobile

// Hover

.clients-item:hover {
  .client-link {
    border-color: #2196F3;
    @extend %hover-animation;
  }
  
  .client-icon-1 {
    @extend %hover-animation;
    fill:$accent-page-color;
  }
  
  .client-icon-2 {
    @extend %hover-animation;
    fill:$accent-page-color;
  }
  
  .client-icon-3 {
    @extend %hover-animation;
    fill:$accent-page-color;
  }
  
  .client-icon-4 {
    @extend %hover-animation;
    fill:$accent-page-color;
  }
  
  .client-icon-5 {
    @extend %hover-animation;
    fill:$accent-page-color; 
  }
  
  .client-icon-6 {
    @extend %hover-animation;
    fill:$accent-page-color;
  }
}

// Main

.clients {
  padding: 60px 0;
}

.h2-clients {
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.client-link {
  display: inline-block;

  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.client-icon-fill {
  fill:  #AFB1B8;;
}

// Media

@media screen and (max-width: 1199px) {
  .h2-clients {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 33px;
  }
}

@media screen and (max-width: 767px) {
  .clients-item {
    margin-bottom: 30px;
  }
  .clients-item:nth-child(2n+1) {
    margin-right: 15px;
  }
  .clients-item:nth-child(2n) {
    margin-left: 15px;
  }
  .clients-item:nth-child(5) {
    margin-bottom: 0;
  }
  .clients-item:nth-child(6) {
    margin-bottom: 0;
  }

  .client-link {
    width: 210px;
    height: 90px;
  }

  .client-icon-1 {
    margin: 20px 83px;
    width: 44px;
    height: 49px;
    fill:#afb1b8;
  }
    
  .client-icon-2 {
    margin: 19px 85px;
    width: 40px;
    height: 52px;
    fill:#afb1b8;
  }
    
  .client-icon-3 {
    margin: 24px 85px;
    width: 40px;
    height: 42px;
    fill:#afb1b8;
  }
    
  .client-icon-4 {
    margin: 24px 65px;
    width: 79px;
    height: 42px;
    fill:#afb1b8;
  }
    
  .client-icon-5 {
    margin: 22px 75px;
    width: 59px;
    height: 47px;
    fill:#afb1b8;
  }
    
  .client-icon-6 {
    margin: 22px 61px;
    width: 88px;
    height: 45px;
    fill:#afb1b8;
  }
}