// Header

.logo-header {
  font-family: $secondary-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
    .logo-accent {
      color: $accent-page-color;
    }
}

.logo-header:visited {
  color: $secondary-text-color;
    .logo-accent {
      color: $accent-page-color;
    }
}

// Footer

.logo-footer {
  font-family: $secondary-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $main-page-color;
    .logo-accent {
      color: $accent-page-color;
    }
}

.logo-footer:visited {
  color: $main-page-color;
    .logo-accent {
      color: $accent-page-color;
    }
}

@media screen and (max-width: 767px) {
  .text-center {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
      .logo-accent {
        color: $accent-page-color;
      }
  }
  .logo-footer {
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $main-page-color;
    .logo-accent {
      color: $accent-page-color;
    }
  }
}