// Mobile

@media screen and (max-width:767px) {
  .features {
    padding: 60px 0;
  }
  
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .icon-background {
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 0;

    .icon {
      display: block;
      width: 70px;
      height: 70px;
      margin: auto;
    }
  }
  .h3-features {
    margin-top: 30px;
    text-align: center;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
  }
  .p-features {
    margin-top: 10px;
    
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
  }
}

// Tablet
@media screen and (min-width:768px) and (max-width:1199px) {
  .features {
    padding: 60px 0;
  }
  .features-set {
    display: flex;
    flex-wrap: wrap;
    .features-item {
      width: calc((100% - 30px) / 2)
    }
  }
  .features-item:nth-child(2n - 1){
    margin-right: 30px;
  }
  .features-item:nth-child(1) {
    margin-bottom: 30px;
  }
  .features-item:nth-child(2) {
    margin-bottom: 30px;
  }
  .icon-background {
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 0;

    .icon {
      display: block;
      width: 70px;
      height: 70px;
      margin: auto;
    }
  }
  .h3-features {
    margin-top: 30px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
  }
  .p-features {
    margin-top: 10px;
    
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
  }
}

// Desktop
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
  .features-set {
    display: flex;
    .features-item {
      width: 270px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .icon-background {
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 0;

    .icon {
      display: block;
      width: 70px;
      height: 70px;
      margin: auto;
    }
  }
  .h3-features {
    margin-top: 30px;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
  }
  .p-features {
    margin-top: 10px;
    
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
  }
}