// Mobile

.btn-portfolio {
  display: block;
  padding: 6px 22px;

  height: 38px;
  background: #F5F4FA;
  border-radius: 4px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  border-style: none;
  color: #212121;

  &:hover,
  &:active {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}


@media screen and (max-width:767px) {
  .filtres {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .btn-portfolio:not(:last-child) {
    margin-right: 8px;
  }

  .btn-portfolio:nth-child(4) {
    margin-top: 15px;
  }

  .btn-portfolio:nth-child(5) {
    margin-top: 15px;
  }
}

// Tablet
@media screen and (min-width:768px) and (max-width:1199px) {
  .filtres {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .btn-portfolio:not(:last-child) {
    margin-right: 8px;
  }
}

// Desktop
@media screen and (min-width: 1200px) {
  .filtres {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
    .btn-portfolio:not(:last-child) {
      margin-right: 8px;
    }
  }
}