// Mobile

@media screen and (max-width: 767px) {
  .navigation-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .link-list,
  .contact-list {
    display: none;
  }

  .drop-menu {
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: Transparent;
    border: none;

    svg {
      width: 40px;
      height: 40px;
      fill: #000;
    }
    &:active {
      svg .icon-open{
        fill: #2196F3;
      }
      svg .icon-close{
        fill: #2196F3;
      }
    }
  }

  .icon-open {
    opacity: 1
  }
  .icon-close {
    opacity: 0
  }

  .is-open {
    .icon-open {
      opacity: 0
    }
    .icon-close {
      opacity: 1
    }
  }
}