// Mobile

@media screen and (max-width: 767px) {
  .navigation-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .drop-menu {
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: Transparent;
    border: none;

    svg {
      width: 40px;
      height: 40px;
      fill: #000;
    }

    &:hover {
      margin: 0;
      padding: 0;
      svg .icon-open{
        fill: $accent-page-color;
      }
      svg .icon-close{
        fill: $accent-page-color;
      }
    }
  }

  .icon-open {
    display: block;
  }
  .icon-close {
    display: none;
  }

  .is-open {
    .icon-open {
      display: none;
    }
    .icon-close {
      display: block;
      fill: $accent-page-color;
    }
   }

  .header {
    position: relative;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 0;
    right: 0;
    padding: 60px 0;
    background: $main-page-color;
    border-top: 1px solid #ECECEC;
    &.is-open {
      display: block;
    }
  }
  .link-list li:not(:last-child) {  
    margin-bottom: 40px;
  }
  .mobile-menu li {
    text-align: center;
  }
  .mobile-menu .link {
    font-family: $main-font-family;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    &:hover {
      color: $accent-page-color;
    }
  }

  .link-list .underline-studio {
    color: $accent-page-color;

    &:after {
      content: '';
      display: block;
  
      background: $accent-page-color;
      border-radius: 2px;
      margin-left: auto;
      margin-right: auto;
      width: 61px;
      height: 4px;
      margin-top: 8px;
    }
  }
  

  .link-list .underline-portfolio {
    color: $accent-page-color;

    &:after {
      content: '';
      display: block;
  
      background: $accent-page-color;
      border-radius: 2px;
      margin-left: auto;
      margin-right: auto;
      width: 97px;
      height: 4px;
      margin-top: 8px;
    }
  }

  .contact-list {
    margin-top: 60px;

    li:not(:first-child) {
      margin-top: 16px;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-mail {
      width: 16px;
      height: 12px;
      fill: $main-text-color;
      margin-right: 10px;
    }
    .icon-phone {
      width: 10px;
      height: 15px;
      fill: $main-text-color;
      margin-right: 10px;
    }

    .link {
      font-family: $main-font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.02em;

      color: $main-text-color;
      } 
      .flex:hover {
        .icon-mail {
          fill: $accent-page-color;
        }
        .icon-phone {
          fill: $accent-page-color;
        }
      }
    }
  }

// Tablet
@media screen and (min-width:768px) and (max-width: 1199px) {

  .drop-menu {
    display: none;
  }
  .navigation-header {
    display: flex;
    align-items: center;
  }
  .mobile-menu {
    display: flex;
  }
  .link-list {
    display: flex;
    align-items: center;

    margin-left: 88px;
    margin-right: 84px;

    li:not(:last-child) {
      margin-right: 50px;
    }

    .link {
      display: inline-block;
      font-family: $main-font-family;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;

      color: $secondary-text-color;

      padding: 32px 0;
      height: 80px;
      &:hover {
        color:  $accent-page-color;
      }
    }
    .underline-studio {
      color: $accent-page-color;

      &:after {
        content: '';
        display: block;
    
        background: $accent-page-color;
        border-radius: 2px;
        height: 4px;
        margin-top: 28px;
      }
    }
    .underline-portfolio {
      color: $accent-page-color;

      &:after {
        content: '';
        display: block;
    
        background: $accent-page-color;
        border-radius: 2px;
        height: 4px;
        margin-top: 28px;
      }
    }
  }
  .contact-list {
    height: 80px;
    padding: 21px 0;
    .flex {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &:hover {
        .icon-mail {
          fill: $accent-page-color;
        }
        .icon-phone {
          fill: $accent-page-color;
        }
        .link {
          color: $accent-page-color;
        }
      }
    }
    .icon-mail {
      width: 16px;
      height: 12px;
      fill: $main-text-color;
      margin-right: 10px;
    }
    .icon-phone {
      width: 10px;
      height: 15px;
      fill: $main-text-color;
      margin-right: 10px;
    }
    .link {
      font-family: $main-font-family;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;

      color: $main-text-color;
    }
  }
}

// Desktop
@media screen and (min-width: 1200px) {
  .drop-menu {
    display: none;
  }
  .navigation-header {
    display: flex;
    align-items: center;
  }
  .mobile-menu {
    display: flex;
  }
  .link-list {
    display: flex;
    align-items: center;

    margin-left: 93px;
    margin-right: 305px;

    li:not(:last-child) {
      margin-right: 50px;
    }

    .link {
      display: inline-block;
      font-family: $main-font-family;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;

      color: $secondary-text-color;

      padding: 32px 0;
      height: 80px;
      &:hover {
        color:  $accent-page-color;
      }
    }
    .underline-studio {
      color: $accent-page-color;

      &:after {
        content: '';
        display: block;
    
        background: $accent-page-color;
        border-radius: 2px;
        height: 4px;
        margin-top: 28px;
      }
    }
    .underline-portfolio {
      color: $accent-page-color;

      &:after {
        content: '';
        display: block;
    
        background: $accent-page-color;
        border-radius: 2px;
        height: 4px;
        margin-top: 28px;
      }
    }
  }
  .contact-list {
    height: 80px;
    padding: 21px 0;
    display: flex;
    align-items: center;
    .flex {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &:hover {
        .icon-mail {
          fill: $accent-page-color;
        }
        .icon-phone {
          fill: $accent-page-color;
        }
        .link {
          color: $accent-page-color;
        }
      }
    }
    .icon-mail {
      width: 16px;
      height: 12px;
      fill: $main-text-color;
      margin-right: 10px;
    }
    .icon-phone {
      width: 10px;
      height: 15px;
      fill: $main-text-color;
      margin-right: 10px;
    }
    .link {
      font-family: $main-font-family;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;

      color: $main-text-color;
    }
  }
}