// Mobile

@media screen and (max-width: 767px) {
  .navigation-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .drop-menu {
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: Transparent;
    border: none;

    svg {
      width: 40px;
      height: 40px;
      fill: #000;
    }

    &:active {
      margin: 0;
      padding: 0;
      svg .icon-open{
        fill: #2196F3;
      }
      svg .icon-close{
        fill: #2196F3;
      }
    }
  }

  .icon-open {
    display: block;
  }
  .icon-close {
    display: none;
  }

  .is-open {
    .icon-open {
      display: none;
    }
    .icon-close {
      display: block;
      fill: #2196F3;
    }
   }

  .header {
    position: relative;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 0;
    right: 0;
    padding: 60px 0;
    background: #fff;
    border-top: 1px solid #ECECEC;
    &.is-open {
      display: block;
    }
  }
  .link-list li:not(:last-child) {  
    margin-bottom: 40px;
  }
  .mobile-menu li {
    text-align: center;
  }
  .mobile-menu .link {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #212121;
    &:hover {
      color: #2196F3;
    }
  }

  .link-list .underline-studio {
    color: #2196F3;

    &:after {
      content: '';
      display: block;
  
      background: #2196F3;
      border-radius: 2px;
      margin-left: auto;
      margin-right: auto;
      width: 61px;
      height: 4px;
      margin-top: 8px;
    }
  }
  

  .link-list .underline-portfolio {
    color: #2196F3;

    &:after {
      content: '';
      display: block;
  
      background: #2196F3;
      border-radius: 2px;
      margin-left: auto;
      margin-right: auto;
      width: 97px;
      height: 4px;
      margin-top: 8px;
    }
  }

  .contact-list {
    margin-top: 60px;

    li:not(:first-child) {
      margin-top: 16px;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-mail {
      width: 16px;
      height: 12px;
      fill: #757575;
      margin-right: 10px;
    }
    .icon-phone {
      width: 10px;
      height: 15px;
      fill: #757575;
      margin-right: 10px;
    }

    .link {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.02em;

      color: #757575;
      } 
      .flex:hover {
        // .link{
        // color: #2196F3;
        // }
        .icon-mail {
          fill: #2196F3;
        }
        .icon-phone {
          fill: #2196F3;
        }
      }
    }
  }
