// Mobile

.team {
  padding: 60px 0;
  background-color: #F5F4FA;;
}

.h2-team {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-top: 30px;
}

.card-desc {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;

  margin-top: 10px;
}

.soclink-list {
  display: flex;
  justify-content: center;
}

.soclink-bg {
  width: 44px;
  height: 44px;
  padding: 12px;
}

.soclink {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

@media screen and (max-width: 1199px) {
  .h2-team {
    margin-bottom: 30px;
  }
}

@media screen and (max-width:767px) {
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }

  .soclink-list {
    margin-top: 16px;
  }
  .team-card {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
    width: 100%;
  
    img {
      display: block;
      width: 100%;
    }
  }
}

@media screen and (min-width: 480px) and (max-width:767px) {
  .team-card {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

// Tablet
@media screen and (min-width: 768px) and (max-width:1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-card {
    width: calc((100% - 34px)/2);
    img {
      display: block;
      width: 100%;
    }
  }
  .team-card:nth-child(2n-1) {
    margin-right: 30px;
  }
  .team-card:nth-child(1) {
    margin-bottom: 30px;
  }
  .team-card:nth-child(2) {
    margin-bottom: 30px;
  }
  .soclink-list {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}