$main-page-color: #ffffff;
$main-text-color: #757575;
$secondary-text-color: #212121;
$secondary-page-color: #f5f4fa;
$accent-page-color: #2196f3;

$main-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;
