/* Overlay*/
.text-overlay {
  position: relative;
  width: 370px;
  height: 294px;
} 

.animation-overlay {
 position: absolute;
 top: 100%;
 left: 0;
 width: 100%;
 height: 100%;
 opacity: 0;
 font-size: 18px;
 line-height: 28px;
 letter-spacing: 0.03em;
 margin: 0;
 padding: 63px 24px;
 color: $main-page-color;
 background: rgba(33, 150, 243, 0.9);
 pointer-events: none;

 @extend %hover-animation;
}

.animation-overlay {
  .card-style-portfolio:hover & {
    top: 0;
    left: 0;
    opacity: 0.9;
  }
}